@import 'reset-css';

html {
    font-size: 16px;
    font-family: Courier, sans-serif;
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

*, *:before, *:after {
    box-sizing: inherit;
}