@import '../../styles/vars';

.chessboard {
    position: relative;
    display: inline-block;
    border: solid 5px $color-dark;
    margin-top: 10px;
    margin-bottom: 10px;

    &__row {
        display: flex;
    }

    &__field {
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        &--dark {
            background-color: $color-dark;
        }

        &--light {
            background-color: $color-light;
        }

        &--highlighted {
            border: solid 3px red;
        }

        &--clickable {
            &:hover {
                background-color: grey;
            }
        }

    }

    &__figure {
        width: 35px;
        height: 35px;

        &.white {
            background-color: white;
        }

        &.black {
            background-color: black;
        }

        &.pawn {
            border-radius: 50%;
        }
    }

}