@import 'abstractions/vars';
@import 'functions/rem';

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding-bottom: 100%;
}

.contentWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: $color-dark;
}

.light {
    background-color: $color-light;
}

.highlighted {
    box-shadow: 0 0 0 rem(3) $color-light-2 inset;
}

.clickable {
    &:hover {
        background-color: grey;
    }
}
