.container {
    width: 35px;
    height: 35px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.pawn {
    border-radius: 50%;
}

.queen {
    border-radius: 25%;
}