@import 'mixins/breakpoints';
@import 'functions/rem';

.container {
    display: flex;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: solid 4px transparent;
    line-height: 1.75;
    font-size: rem(20);
}

.active {
    border-color: red;
}