@import 'abstractions/vars';

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.5);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: white;
    padding: 30px 30px;
    text-align: center;
}

.paragraph {
    color: $color-dark;
    line-height: 1.35;
}

.strong {
    font-weight: 900;
}

.button {
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: $color-dark;

    &:hover {
        background-color: $color-light;
        color: $color-dark
    }
}
